/* main */
.section {
    text-align: center; /* 가운데 정렬 */
}

.slide {
    width: 100%; /* 슬라이드 너비 */
    height: 100%; /* 슬라이드 높이 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    vertical-align: top; /* 상단 정렬 */
}

/* 수평 스크롤 섹션의 슬라이드들 */
.section[data-anchor="horizontal-scroll"] {
    white-space: nowrap; /* 수평 스크롤을 위해 공백 처리 */
    overflow-x: auto; /* 수평 스크롤을 가능하게 합니다. */
}

.section[data-anchor="horizontal-scroll"] .slide {
    width: 100%; /* 각 슬라이드는 전체 너비를 차지합니다. */
    height: 100%; /* 슬라이드 높이 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    vertical-align: top; /* 상단 정렬 */
}

/* main slide1 */
main .section.slide1 {
    height: 300vh;
}
main .section.slide1 .fade_text {
    position: fixed;
    width: 100%;
    top: 50vh;
    transform: translate(0, -50%);
    font-size: 24px;
    opacity: 1;
    transition: opacity 0.1s linear;
    z-index: 10;
}
main .section.slide1 .img_box {
    position: relative;
    height: 100%;
}
main .section.slide1 .img_box .thumbnail1 {
    width: 15.7292vw;
    position: absolute;
    top: 330px;
    left: 21.1875vw;
}
main .section.slide1 .img_box .thumbnail2 {
    width: 19.8958vw;
    position: absolute;
    top: 520px;
    right: 4.1875vw;
}
main .section.slide1 .img_box .thumbnail3 {
    width: 21.2500vw;
    position: absolute;
    top: 850px;
    left: 9.1875vw;
}

main .section.slide2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    height: 100vh;
    margin-top: 400px;
    opacity: 1;
    transition: all 1s ease, transform 1s ease;
}
main .section.slide3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #000;
    height: 1080px;
}
main .section.slide4 {
    display: flex;
    height: 1080px;
}
main .section.slide4 .left {
    width: 50%;
    background: #F4F4F4;
}
main .section.slide4 .right {
    width: 50%;
    color: #000;
}
main .section.slide5 {
    background: #1A1A1A;
    height: 1080px;
}
main .section.slide5 .top,
main .section.slide5 .bottom {
    display: flex;
    justify-content: space-between;
    height: 50%;
    position: relative;
}
main .section.slide5 .top .bar {
    width: 78.4%;
    background: #DFF600;
}
main .section.slide5 .bottom .bar {
    width: 90.8%;
    background: #FF99FF;
}
main .section.slide5 .top .txt_box,
main .section.slide5 .bottom .txt_box {
    position: absolute;
    right: 1.5625vw;
    bottom: 30px;
    text-align: right;
}
