<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLT</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script th:src="@{/lib/js/jquery.fullpage.min.js}"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/jquery.fullpage.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css.front/main.css}">
</head>
<body>
    <th:block th:replace="~{fragments/front/header :: header}"></th:block>

    <main>
        <!-- 첫번째 영역 -->
        <div class="section slide1">
            <h2>기다림은 그만,<br>실시간으로 매칭받고 연결해요</h2>
            <h6>지금 바로 LLT에서 실시간 매칭을 시작해 보세요.</h6>
            <div class="img_box">
                <img th:src="@{/images.main/main1.jpg}">
                <img th:src="@{/images.main/main2.jpg}">
                <img th:src="@{/images.main/main3.jpg}">
            </div>
        </div>
        <!-- 두번째 영역 -->
        <div class="section slide2">
            <h2>완벽한 맞춤형 알고리즘으로</h2>
        </div>
        <!-- 세번째 영역 -->
        <div class="section slide3">
            <h2>당신의 이상형💘을 찾아드립니다</h2>
        </div>
        <!-- 네번째 영역 -->
        <div class="section slide4">
            <div class="left"></div>
            <div class="right">
                <h5>맞춤형 매칭</h5>
                <h3>알고리즘에 기반하여 특화된 매칭 시스템 👀</h3>
            </div>
        </div>
        <!-- 다섯번째 영역 -->
        <div class="section slide4">
            <div class="left"></div>
            <div class="right">
                <h5>맞춤형 매칭</h5>
                <h3>알고리즘에 기반하여 특화된 매칭 시스템 👀</h3>
            </div>
        </div>
    </main>
    <th:block th:replace="~{fragments/mgr/footer :: footer}"></th:block>

    <script>


    </script>
</body>
</html>